<h1 class="title">All shoes</h1>



<%= form_with(url: search_results_products_path, method: "get", local: true) do %>
        <%= select_tag :category, options_from_collection_for_select(@categories, 'id', 'name') %>
        <%= label_tag(:query_word, "Search for:") %>
        <%= text_field_tag(:query_word) %>
        <%= submit_tag("Search") %>
<% end %>

<%= paginate @products %>

<br>

<%= form_tag product_ptoructs_by_filter_path do %>
   <%= select_tag :filter_option, options_for_select(['On sale', 'New', 'Recently Updated']) %>
   <%= submit_tag "Filter" %>
<% end %>


<div class="columns is-multiline">
  <%= render partial: 'products/product',
  collection: @products,
  locals: {card_is_link: true}
  %>
</div>




