<div class="title">Product Name: <%=@product.name%> detail</div>

<div class="columns center">
  <div class="column is-half">
      <%= render partial: 'products/product',
      object: @product,
      locals: {card_is_link: false}
      %>
   </div>

  <div class="column is-half">
      <div style="border:2px blue solid; widht:85%; height:95%; margin-top:25px; text-align:left; padding:25px">
      <p style="margin-top:100px">Description: <%=@product.description%></p>
      <p>Unit Price:<%=@product.price%></p>
      <p>Quantity: 1</p>

      <%if @cart.include?(@product)%>
        <p><strong style="color:red">Product is in your cart.</strong></p>
      <%else%>
        <p><%= button_to "Add to cart", add_to_cart_path(@product.id), method: :post %></p>
      <%end%>

      </div>
  </div>
</div>